---
layout: layouts/page.njk
---


<div class="story no-border">
  <div class="padding">
    <h3 class="serif">VINCENT and SYLVIE LEVIEUX</h3>
    <p>CHATEAU LAGNET - 33350 DOULEZON FRANCE</p>
    <p>Open from 8:30 to 12:30 and 13:30 to 17:30, closed on weekends</p>
    <p>+33(0)5 57 40 51 84</p>
  </div>
  <img src="/images/portrait.jpg">
</div>