<!DOCTYPE html>
{% if locale == "fr" %}
<html lang="fr">
{% else %}
<html lang="en">
{% endif %}
<head>
  <title>{%- if winepage %} {{wine.name}}{% else %}{{title}}{% endif %} - Levieux Vignerons - vignoble familial de Bordeaux</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Family-owned vineyard in Bordeaux, comprising three estates: Chateau Labatut, Chateau Roques Mauriac, and Chateau Lagnet." />
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.30/default/snipcart.css" defer />
  <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
  {%- if homepage %}<link rel="preload" href="/images/barrels.jpg" as="image">{% endif %}
  <link rel="icon" href="img/favicon.png">
</head>