<div class="hero">
  <div class="hero-text">
  <div class="serif levieux">LEVIEUX</div>
    <div class="serif vignerons">vignerons</div>
    <div class="sans bordeaux">BORDEAUX</div>
  </div>
</div>

<div class="padding full-text serif">
  Our vision of wine is “between two worlds”: modern and fruit forward, associated with the elegance and traditions that have always characterised the best Bordeaux wines.  
</div>
  
<div class="vignobles">
  <a href="/en/labatut/" class="labatut">Labatut</a>
  <a href="/en/roques-mauriac/" class="roquesmauriac">Roques Mauriac</a>
  <a href="/en/lagnet/" class="lagnet">Lagnet</a>
</div>
  
<div class="story">
  <div class="padding">
    <h3 class="serif">Sylvie and Vincent LEVIEUX are a part of a new, up-and-coming generation of winegrowers in Bordeaux.</h3>
    <i>“Our goal, since we took over the family vineyard in 2003, is to produce a new style of Bordeaux.
    Our vintages come from spectacular terroirs. Unjustly unknown, they give us the advantage of having a free hand to choose the colours we want to paint... The multitude of awards from top French and international wine competitions as well as the many references to our wines made by the press make us believe we are on the right track.”</i>
  </div>
  <img src="/images/autumn.jpg">
</div>