---
layout: layouts/page.njk
---
<div class="padding">
  <div>
    Company name
    GFA LES TROIS CHATEAUX
  </div>
  <div>
    Managers name
    VINCENT and SYLVIE LEVIEUX
  </div>
  <div>
    Headquarters
    CHATEAU LAGNET
    33350 DOULEZON FRANCE
  </div>
  <div>
    Phone +33(0)5 57 40 51 84
  </div>
  <div>
    Fax +33(0)5 57 40 55 48
  </div>
  <div>
    Opening Hours
    8:30 to 12:30 / 13:30 to 17:30
    Closed on weekends
  </div>
</div>