---
layout: layouts/page.njk
title: Contact
---


<div class="story no-border">
  <div class="padding">
    <h3 class="serif">VINCENT et SYLVIE LEVIEUX</h3>
    <p>CHATEAU LAGNET - 33350 DOULEZON FRANCE</p>
    <p>Ouvert de 8:30 a 12:30 et 13:30 a 17:30, fermé le weekend</p>
    <p>+33(0)5 57 40 51 84</p>
  </div>
  <img src="/images/portrait.jpg">
</div>