---
pagination:
    data: wines
    size: 1
    alias: wine
permalink: "fr/{{ wine.chateau | slug }}/{{ wine.id }}/"
layout: layouts/default.html
winepage: true
locale: fr
title: "{{wine.id}} de {{wine.chateau}}"
---
<div class="padding">
  <h1 class="wine-header">{{wine.name}}</h1>
  <div class="wine-page flex">
    <div class="inline-block">
      <div class="wine-details"><div>{{wine.aop}}</div><div>{{wine.cepages}}</div></div>
      <div><p>{{wine.description.fr}}</p></div>
      <div class="ecommerce-block">
        <span class="inline-block price">€{{wine.price}}</span>
        <button class="snipcart-add-item inline-block"
            data-item-id="{{wine.id}}"
            data-item-price="{{wine.price}}"
            data-item-url="/fr/{{ wine.chateau | slug }}/{{ wine.id }}/"
            data-item-description="{{wine.description.fr}}"
            data-item-image="{{wine.img}}"
            data-item-name="{{wine.name}}">
            Ajouter au panier
          </button>
        </div>
      <div>
        <h2>Terroir</h2>
        <p>{{wine.terroir.fr}}</p>
      </div>
      <div>
        <h2>Vinification</h2>
        <p>{{wine.vinification.fr}}</p>
      </div>
        <a href="{{wine.fiche.fr}}" download class="fiche_technique">Fiche technique (fr)</a>
    </div>

    <div class="">
        <img src="{{ wine.img }}" class="block padding" alt="Photo de {{wine.name}}">
    </div>
  </div>
</div>